<form method="POST" action="{% url 'login' %}" style="max-width:380px; margin:40px auto; background:white; padding:24px; border-radius:16px; box-shadow:0 10px 30px rgba(0,0,0,0.3);">
  {% csrf_token %}

  <h2 style="text-align:center; font-size:24px; font-weight:700; margin-bottom:16px; color:#0f172a;">Login</h2>

  <input type="text" name="username" placeholder="Enter Username"
    style="width:100%; padding:12px; margin-bottom:12px; border:1px solid #cbd5e1; border-radius:8px; font-size:15px;">

  <input type="password" name="password" placeholder="Enter Password"
    style="width:100%; padding:12px; margin-bottom:16px; border:1px solid #cbd5e1; border-radius:8px; font-size:15px;">

  <button type="submit"
    style="width:100%; background:#284994; color:white; padding:12px; border:none; border-radius:8px; font-weight:600; font-size:16px; cursor:pointer;">
    LOGIN
  </button>

  {% if form.errors %}
    <p style="text-align:center; color:red; margin-top:12px; font-size:14px;">Invalid username or password</p>
  {% endif %}
  <p>
  Don’t have an account?
  <a href="/signup/">Sign up</a>
</p>
</form>



